In [1]:
# Q48: Chinese Zodiac

In [ ]:
x = 2011
y = x % 12
print(y)

7

In [ ]:
yr  = int(input("Enter year : "))

if yr % 12 == 8 :
  print("Its the year of the Dragon")
elif yr % 12 == 9 :
  print("Its the year of the Snake")
elif yr % 12 == 10 :
  print("Its the year of the Horse")
elif yr % 12 == 11 :
  print("Its the year of the Sheep")
elif yr % 12 == 0 :
  print("Its the year of the Monkey")
elif yr % 12 == 1 :
  print("Its the year of the Rooster")
elif yr % 12 == 2 :
  print("Its the year of the Dog")
elif yr % 12 == 3 :
  print("Its the year of the Pig")
elif yr % 12 == 4 :
  print("Its the year of the Rat")
elif yr % 12 == 5 :
  print("Its the year of the Ox")
elif yr % 12 == 6 :
  print("Its the year of the Tiger")
elif yr % 12 == 7 :
  print("Its the year of the Hare")
else :
  print("Invalid year")

Enter year : 1999
Its the year of the Hare

In [ ]:
# Q50: Roots of a Quadratic Function

In [ ]:
from math import sqrt
a = float(input("Enter a : "))
b = float(input("Enter b : "))
c = float(input("Enter c : "))

x = (b**2) - (4*a*c)
dis = sqrt(abs(x))

if dis > 0 :
  root1 = (-b + dis)/2*a
  root2 = (-b - dis)/2*a
  print("There are 2  roots, they are : ", root1, root2)
elif dis == 0 :
  root = -b / 2*a
  print("The root is only one root , root = : ", root)
else :
  print("This equation has no real roots")

Enter a : -1
Enter b : 0
Enter c : 25
There are 2  roots, they are :  -5.0 5.0

In [ ]:
# Q56 Cell Phone Bill

In [ ]:
min = float(input("Enter the number  of air time minutes : "))
txt = float(input("Enter the number of text mssgs used : "))
base = 15.00
emer = 0.44

if min > 50 :
  min1 = min - 50
else :
  min1 = 0

if txt > 50 :
  text1 = txt - 50
else :
  text1 = 0

cost = base + (min1 * 0.25) + (text1 * 0.15) + emer
tax = cost * 0.05
tax = format(tax, "0.2f")
cost = format(cost, "0.2f")
text1 = format(text1, "0.2f")
min1 = format(min1, "0.2f")

print("base charge = ", base)
if min1 != 0 :
  print("The additional minute charge incurred = ", min1)
elif text1 != 0 :
  print("The additional minute charge incurred = ", text1)

print("911 fee tax = ", emer )
print("total = ", cost)

Enter the number  of air time minutes : 55
Enter the number of text mssgs used : 40
base charge =  15.0
The additional minute charge incurred =  5.00
911 fee tax =  0.44
total =  16.69

In [ ]:
# Q57 Is it a Leap Year?

In [ ]:
yr = int(input("Enter year : "))

if yr % 400 == 0 :
  print(yr,' is a leap year !')
elif yr % 4 == 0 :
  print(yr,' is a leap year !')
elif yr % 100 == 0 :
  print(yr," is not a leap year")
else :
  print(yr," is not a leap year")

Enter year : 2400
2400  is a leap year !

In [ ]:
# Q58 Next Day

In [ ]:
values = input("Enter year, month and day as space separated values :").split()
yr, mnth, day = map(int,values)
from calendar import monthrange
num_days = monthrange(yr, mnth)[1]

if mnth == 12 :
  if day == 31 :
    yr += 1
    mnth = 1
    day = 1
  else :
    day +=1

else :
  if day == num_days :
    mnth += 1
    day = 1
  else :
    day += 1

print("The next day is : ", yr,"-", mnth,"-", day)

Enter year, month and day as space separated values :2024 2 28
The next day is :  2024 - 2 - 29