In [1]:
## Q23 Area of a Regular Polygon

In [ ]:
from math import tan,pi
s = eval(input("Enter the length of side : "))
n = eval(input("Enter no. of sides : "))
area = (n * s**2)/ (4 * tan (pi / n ))
print("Area is : ", area)

Enter the length of side : 4
Enter no. of sides : 4
Area is :  16.000000000000004

In [ ]:
# Q24 Units of Time

In [ ]:

days = int(input("Enter the no. of days : "))
hours = int(input("Enter the no. of hours : "))
min = int(input("Enter the no. of minutes : "))
sec = int(input("Enter the no. of seconds : "))

tot = sec
tot += min*60
tot += (hours * 60 * 60)
tot += days *24 * 60 * 60
print ("total time in hours = ", tot, " secs")

Enter the no. of days : 5
Enter the no. of hours : 5
Enter the no. of minutes : 5
Enter the no. of seconds : 1
total time in hours =  450301  secs

In [ ]:
# Q25 Units of Time (Again)

In [ ]:
sec = int(input("Enter the no. of seconds : "))

days = sec // (60 * 60 *24)
days = format(days, "02d")
sec = sec % (60* 60 *24)
hours = sec // (60 * 60)
hours = format(hours, "02d")
sec = sec % (60 * 60)
min = sec // 60
min = format(min, "02d")
sec = sec % (60)
sec = format(sec, "02d")

print ( days," : ", hours, " : ", min," : ", sec)

Enter the no. of seconds : 9547863
110  :  12  :  11  :  03

In [ ]:
x = 55
x = format(x, "02d")
print(x)

55

In [ ]:
# Q 26 Current Time

In [ ]:
from time import asctime
time1 = asctime()
print(time1)

Mon Feb 20 07:00:38 2023

In [ ]:
# Q27  Body Mass Index

In [ ]:
h = eval(input("Enter height : "))
w = eval(input("Enter weight : "))
x = input("If the height is in Inches and pounds enter 1 and if in kg and meters enter 2 :  ")
if x == "1" :
  bmi = w * 703/ (h**2)
elif x == "2" :
  bmi = w / h**2

print ( "your bmi is  : ", bmi)

Enter height : 1.55
Enter weight : 59
If the height is in Inches and pounds enter 1 and if in kg and meters enter 2 :  2
your bmi is  :  24.55775234131113

In [ ]:
# Q28 Wind Chill

In [ ]:
t = float(input("Enter air temperature in celsius  : "))
v = float(input("Enter wind speed in km per hour : "))

if t<= 10 and v > 4.8 :
  wci = 13.12 + (0.6215 *t ) - (11.37 * (v**0.16)) + (0.395 *t * (v**0.16))
  print("The wind chill index is : ", round(wci) )
else :
  print( "The wind chill index is only considered valid for temperatures less than or equal to 10 degrees Celsius and wind speeds exceeding 4.8 kilometers per hour ")
  print("Please try again with valid temperature and speed ")

Enter air temperature in celsius  : 5
Enter wind speed in km per hour : 6
The wind chill index is :  4

In [ ]:
# Q29 Celsius to Fahrenheit and Kelvin

In [ ]:
c = eval(input("Enter temperature in celsius  : "))
k = c + 273.15
f = (c * 9/5) + 32

print("Temperature in Kelvin = ", k)
print("Temperature in Fahrenheit = ", f)

Enter temperature in celsius  : 33
Temperature in Kelvin =  306.15
Temperature in Fahrenheit =  91.4

In [ ]:
# Q 31 Sum of the Digits in an Integer

In [ ]:
x = int(input(" Enter 4 digit number : "))

x1 = x //1000
x = x - x1*1000
x2 = x  // 100
x = x - x2*100
x3 = x  // 10
x = x - x3*10

print( x1, x2, x3, x)

sum = x1 + x2 + x3 + x

print("sum = ", sum)

 Enter 4 digit number : 1234
1 2 3 4
sum =  10

In [ ]:
x = 1234
n = x // 1000
print(n)

1
0

In [ ]:
x = 4000
n = x % 1000
print(n)

0

In [ ]:
 # Q32 Sort 3 Integers

In [ ]:
n1 = int(input("Enter 1st integer: "))
n2 = int(input("Enter 2nd integer: "))
n3 = int(input("Enter 3rd integer: "))

mx = max(n1,n2,n3)
mn = min(n1,n2,n3)
mdl = n1 + n2 + n3 - mn - mx

print("The sorted integers are : ", mn, " ", mdl, " ", mx)

Enter 1st integer: 60
Enter 2nd integer: 20
Enter 3rd integer: 40
The sorted integers are :  20   40   60

In [ ]:
# Q33  Day Old Bread

In [ ]:
price = 3.49
old = float(input("Enter the number of day old breads : "))

cp = old * price
disc = 0.6 * cp
total = cp - disc

cp = format(cp,".2f")
disc = format(disc,".2f")
total = format(total,".2f")

print ("Price = $", cp)
print ("discount  = $",disc )
print ("total = $", total)

Enter the number of day old breads : 5
Price =  17.45
discount  =  10.47
total =  6.98

In [ ]:
price = 3.49
old = float(input("Enter the number of day old breads : "))

cp = old * price
disc = 0.6 * cp
total = cp - disc

print ("Price = {:.2f}".format(cp))
print ("discount  = {:.2f}".format(disc) )
print ("total = {:.2f}".format(total))

Enter the number of day old breads : 5
Price = 17.45
discount  = 10.47
total = 6.98