Exercise 1: Calculate the multiplication and sum of two numbers

Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [ ]:
def calc(a,b):
  x = a*b
  if x <= 1000:
    return x
  else:
    return a + b

res = calc(20,30)
print(res)

res2 = calc(40,30)
print(res2)

600
70

Exercise 2: Print the sum of the current number and the previous number

Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [ ]:
print("Printing current and previous number sum in a range(10) :")

for i in range(1,10):
  print("current number "+str(i)+" prev number "+str(i-1)+" sum = "+str(i+(i-1))+" ")

Printing current and previous number sum in a range(10) :
current number 1 prev number 0 sum = 1
current number 2 prev number 1 sum = 3
current number 3 prev number 2 sum = 5
current number 4 prev number 3 sum = 7
current number 5 prev number 4 sum = 9
current number 6 prev number 5 sum = 11
current number 7 prev number 6 sum = 13
current number 8 prev number 7 sum = 15
current number 9 prev number 8 sum = 17

In [ ]:
print("Printing current and previous number and their sum in a range(10)")
for i in range(10):
  if i== 0:
    k = 0
  else :
    k = i-1
  sum = i+k
  print("Current number ",i," prev number ",k," sum : ", sum)

Printing current and previous number and their sum in a range(10)
Current number  0  prev number  0  sum :  0
Current number  1  prev number  0  sum :  1
Current number  2  prev number  1  sum :  3
Current number  3  prev number  2  sum :  5
Current number  4  prev number  3  sum :  7
Current number  5  prev number  4  sum :  9
Current number  6  prev number  5  sum :  11
Current number  7  prev number  6  sum :  13
Current number  8  prev number  7  sum :  15
Current number  9  prev number  8  sum :  17

In [ ]:
print("Printing current and previous number sum in a range(10) :")

for i in range(10):
  if i== 0:
    k = 0
  else :
    k = i-1
  print("current number "+str(i)+" prev number "+str(k)+" sum = "+str(i+k)+" ")

Printing current and previous number sum in a range(10) :
current number 0 prev number 0 sum = 0
current number 1 prev number 0 sum = 1
current number 2 prev number 1 sum = 3
current number 3 prev number 2 sum = 5
current number 4 prev number 3 sum = 7
current number 5 prev number 4 sum = 9
current number 6 prev number 5 sum = 11
current number 7 prev number 6 sum = 13
current number 8 prev number 7 sum = 15
current number 9 prev number 8 sum = 17

In [ ]:
print("Printing current and previous number sum in a range(10) :")
prev = 0

for i in range(10):
  sum = i + prev
  print("Current number ",i," prev number ",prev," sum : ", sum)
  prev = i

Printing current and previous number sum in a range(10) :
Current number  0  prev number  0  sum :  0
Current number  1  prev number  0  sum :  1
Current number  2  prev number  1  sum :  3
Current number  3  prev number  2  sum :  5
Current number  4  prev number  3  sum :  7
Current number  5  prev number  4  sum :  9
Current number  6  prev number  5  sum :  11
Current number  7  prev number  6  sum :  13
Current number  8  prev number  7  sum :  15
Current number  9  prev number  8  sum :  17

Exercise 3: Print characters from a string that are present at an even index number

Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "helloworld" so you should display ‘h’, ‘l’, ‘o’, ‘o’,‘l’.

In [ ]:
s = input("Enter string : ")
print("Original string: ", s)
print("printing only even index chars ")

d ={}
for n,i in enumerate(s):
  d[n]=i
for n in d:
  if n%2 == 0:
    print(d[n])

Enter string : helloworld
Original string:  helloworld
printing only even index chars
h
l
o
o
l

In [ ]:
s = input("Enter string : ")
print("Original string: ", s)
print("printing only even index chars ")
for i in range(len(s)-1):
  if i%2 == 0:
    print(s[i])

Enter string : helloworld
Original string:  helloworld
printing only even index chars
h
l
o
o
l

In [ ]:
s = input("Enter string : ")
print("Original string: ", s)
print("printing only even index chars ")
n = len(s)
for i in range(0,n-1,2):
  print(s[i])

Enter string : helloworld
Original string:  helloworld
printing only even index chars
h
l
o
o
l

Exercise 4: Remove first n characters from a string

Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:
remove_chars("helloworld", 4) so output must be oworld. Here we need to remove first four characters from a string.
remove_chars("helloworld", 2) so output must be lloworld. Here we need to remove first two characters from a string.

In [ ]:
def rmv(word, n):
  x = word[n:]
  return x

print(rmv("helloworld",4))
print(rmv("helloworld",2))

oworld
lloworld

In [ ]:
l = "helloworld"
k = l[:3]
j = l[3:]
print(k,j)

hel loworld

Exercise 5: Check if the first and last digit of a number is the same

Write a function to return True if the first and last digit of a given number is same. If digits are different then return False.

In [ ]:
def chk(num):
  num = str(num)
  f = num[0]
  l = num[-1]
  if f == l:
    return True

  else:
    return False

print(chk(202))
print(chk(26702))
print(chk(38))
print(chk(77776))

True
True
False
False

Exercise 5: Check if the first and last number of a list is the same

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [ ]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

def chk(num):
  if num[0] == num[-1]:
    return True
  else :
    return False

print("Given List is :",numbers_x)
print("Result is ",chk(numbers_x))
print("Given List is :",numbers_y)
print("Result is ",chk(numbers_y))

Given List is : [10, 20, 30, 40, 10]
Result is  True
Given List is : [75, 65, 35, 75, 30]
Result is  False