In [ ]:
# Q1 Mailing address

In [ ]:
print("""Aishwarya\n
Digital University Kerala
Pallipuram
Thiruvanathapuram
Kerala""")

Aishwarya

Digital University Kerala
Pallipuram
Thiruvanathapuram
Kerala

In [ ]:
# Q2 Hello

In [ ]:
name = input("Please Enter your name : ")
print("hello ", name)

Please Enter your name : Ai
hello  Ai

In [ ]:
# Q3 Area of a room

In [ ]:
x = float(input("Enter Length: "))
y = float (input("Enter width: "))
print("Area = ", x*y," square meters" )

Enter Length: 5
Enter width: 6
Area =  30.0  square meters

In [ ]:
# Q4 Area of a Field

In [ ]:
acre = 43560
x = int(input("Enter length of field in feet: "))
y = int(input("Enter width of field in feet: "))
area_in_acres = x*y/acre
print("Area of field is: ",area_in_acres," acres")

Enter length of field in feet: 5
Enter width of field in feet: 7
Area of field is:  0.0008034894398530762  acres

In [ ]:
# Q5 Bottle Deposits - Format the output so that it includes a dollar sign and always displays exactly two decimal places.

In [ ]:
s = int(input("Enter number of containers of size 1 litre and less: "))
b = int(input("Enter number of containers of size more than 1 litre: "))
amount = s*0.10 + b*0.25
amount = format( amount, ".2f")
print("The refund amount for the containers is: $", amount)

Enter number of containers of size 1 litre and less: 25
Enter number of containers of size more than 1 litre: 35
The refund amount for the containers is: $ 11.25

In [ ]:
s = int(input("Enter number of containers of size 1 litre and less: "))
b = int(input("Enter number of containers of size more than 1 litre: "))
amount = s*0.10 + b*0.255
print("The refund amount for the containers is: $", amount)

Enter number of containers of size 1 litre and less: 25
Enter number of containers of size more than 1 litre: 35
The refund amount for the containers is: $ 11.425

In [ ]:
s = int(input("Enter number of containers of size 1 litre and less: "))
b = int(input("Enter number of containers of size more than 1 litre: "))
amount = s*0.10 + b*0.255
amount = format( amount, ".2f")
print("The refund amount for the containers is: $", amount)

Enter number of containers of size 1 litre and less: 25
Enter number of containers of size more than 1 litre: 35
The refund amount for the containers is: $ 11.43

In [ ]:
# Q6 Tax and Tip

In [ ]:
cost = float(input("Please enter the cost of  the meal: "))
tax = cost * 0.2
tip = cost * 0.18
total = cost + tax + tip
total = format(total, ".2f")
tax = format(tax, ".2f")
tip = format(tip, ".2f")
print("Tax :",  tax)
print("Tip :",  tip)
print("Total :",  total)

Please enter the cost of  the meal: 2564
Tax : 512.80
Tip : 461.52
Total : 3538.32

In [ ]:
# Q7 Sum of the First n Positive Integers

In [ ]:
num = int(input("Enter positive intger "))
sum = num * (num + 1) / 2
sum = int(sum)
print("Sum of first ",num,"numbers is :", sum)

Enter positive intger 25
Sum of first  25 numbers is : 325

In [ ]:
# Q8 Widgets and Gizmos

In [ ]:
n = int(input("Enter number of widgets needed "))
m =int(input("Enter number of gizmos needed "))
wt = n * 75 + m * 125
print("Total weight is : ", wt, " grams")

Enter number of widgets needed 2
Enter number of gizmos needed 9
Total weight is :  1275  grams

In [ ]:
# Q9 Compound Interest

In [ ]:
intrst = 0.04
amount = eval(input("Enter num to be deposited : "))
y1 = amount*intrst + amount
y2 = y1*intrst + y1
y3 = y2*intrst + y2

print(" The amount in saving account after year 1,2,3 are : ", y1, y2, y3)

Enter num to be deposited : 5000
 The amount in saving account after year 1,2,3 are :  5200.0 5408.0 5624.32

In [ ]:
# Q10 Arithmetic

In [ ]:
from math import log10
a = eval(input("Enter 1st number : "))
b = eval(input("Enter 2nd number : "))

sum = a + b
diff = a - b
prodct = a * b
q = a / b
rem = a % b
log = log10(a)
expo = a**b

print("the sum of a and b is : ", sum)
print("the diff of a and b is : ", diff)
print("the product of a and b is : ", prodct)
print("the quotient of a divided by b is : ", q)
print("the remainder of a divided by b is : ", rem)
print("the log of a is : ", log)
print(" a^b is : ", expo)

Enter 1st number : 2
Enter 2nd number : 3
the sum of a and b is :  5
the diff of a and b is :  -1
the product of a and b is :  6
the quotient of a divided by b is :  0.6666666666666666
the remainder of a divided by b is :  2
the log of a is :  0.3010299956639812
 a^b is :  8